# Variables d'environnement requises pour le backend AgentTest
# GitHub (Optionnel) pour l'import
GITHUB_TOKEN="ton-token-github-ici"

# HuggingFace (Optionnel) pour éviter l'avertissement de rate limit lors du téléchargement des modèles d'embedding locaux
HF_TOKEN="ton-token-huggingface-ici"
GEMINI_API_KEY=your_gemini_api_key_here
